@import "tailwindcss";

@theme {
  --color-sp-dark-gray: #121212;
  --color-sp-gray: #1f1f1f;
  --color-sp-gray-2: #212121;
  --color-sp-light-gray: #696969;
  --color-sp-light-gray-2: #afafaf;
  --color-sp-pink: #a6329e;
  --color-sp-blue: #5498f0;
  --color-sp-purple: #7b66c9;

  --text-xxs: 0.625rem;
  --text-xxxs: 0.5rem;
}
