@import "tailwindcss";
/* @plugin 'tailwind-scrollbar'; */

@theme {
  --color-sp-dark-gray: #121212;
  --color-sp-gray: #1f1f1f;
  --color-sp-gray-2: #212121;
  --color-sp-light-gray: #696969;
  --color-sp-light-gray-2: #afafaf;
  --color-sp-light-gray-3: #2a2a2a;
  --color-sp-white: #f0f0f0;

  --color-sp-pink: #a6329e;
  --color-sp-blue: #5498f0;
  --color-sp-purple: #7b66c9;
  --color-sp-green: #1dd162;

  --text-xxs: 0.625rem;
  --text-xxxs: 0.5rem;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 0%;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
